# http://about.travis-ci.org/docs/user/build-configuration/
language: python

python: 2.7

install: python setup.py develop

before_script:
  - export MONGO_DB_NAME='velobstacles'
  - export MONGO_URI='mongodb://localhost/velobstacles'

script: python setup.py nosetests

services: mongodb
